body {
    margin: 0;
}
form {
    background-color: #1F2937;
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item, .form-item-btn {
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.form-item {
    background-color: #1F2937;
    border: 0.5px solid #D1D5DB;
}

.form-item-btn {
    background-color: #3D4B60;
    border: none;
}

input[type="color"]:hover {
    cursor: pointer;
}

.seed-color {
    padding: 2.5px;
    border-radius: 0%;
    border: none;
}

.form-item {
    margin: 0 0.5rem;
}

/* -------------------------------- */

.color-display {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.colors {
    display: flex;
}

.hexColor {
    display: none;
}


.colors, .hexColor {
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}


img {
    margin: 0;
    width: 100%;
    height: 88vh;
    display: block;   
}

.hex {
    width: 100%;
    height: 4.5rem;
    background-color: #1F2937;
    display: flex;
}


p {
    font-size: 1.3rem;
    margin: auto;
    color: #D5D4D8;
    text-transform: uppercase;
    text-align: center;
}